*.egg-info
data/*

*.DS_Store
*.pyc
data_exploration.qgz
scripts/insp/*
qgis.md
random.sql
osm2po/*
scripts/dk_osm2po/*
scripts/new_edges.gpkg
scripts/new_edges.gpkg-shm
scripts/new_edges.gpkg-wal
felt_feedback_map/*